@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    background-color: #FFFFF0;
}

header{
    height: 17vw;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFF0;
    box-shadow: 0 0 0.5rem;
}

ul{
    display: flex;
    margin: 23px;
    padding: 2px;  
}

li{
    color: #793301;
    list-style: none;
    cursor: pointer;
    padding-left: 2rem;
    font-size: 20px;
}

img{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    
}

.about h2{
    color: #793301;
    padding: 20px;
    font-size: 30px;
}

.about p{
    color: #612903;
    padding: 5px;
    font-size: 19px;
}

.detalhes h2{
    color: #793301;
    padding: 20px;
    font-size: 30px;
}
.detalhes p{
    color: 612903;
    padding: 5px;
    font-size: 19px;
}

form{
    display:inline-block;
    position: relative;
    border-radius: 3px;
    background-color: whitesmoke;
    padding: 50px;
    border-radius: 5px;
    margin: 10px;
    width: 300px;
    height: 180px;
    color: #793301;
    font-size: 20px;
}

.form input{
    background-color: rgba(158, 157, 157, 0.212);
    width: 200px;
    height: 32px;
    border-radius: 8px;
    -webkit-box-shadow: -1px 5px 3px 0px rgba(0, 0, 0, 0.116);
    -moz-box-shadow: -1px 5px 3px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 7px 5px 0px rgba(0, 0, 0, 0.315);
    margin-bottom: 10px
}